<ion-header>
  <ion-toolbar color="secondary">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="type">
      <ion-segment-button value="Achived">
        <ion-label>{{ "sk1" | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Wanted">
        <ion-label>{{ "sk2" | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="WIP">
        <ion-label>{{ "sk3" | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)"></ion-toggle>
      <ion-button (click)="refreshPage()" (click)="changeLanguage('en')">
        {{'en' | translate }}
        </ion-button>
        <ion-button (click)="refreshPage()" (click)="changeLanguage('pt')">
        {{'pt' | translate }}
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [ngSwitch]="type">
  <ion-list [inset]="true" *ngSwitchCase="'Achived'">
    <ion-item-group>  
      <!-- Academic Achivements/Skills -->
      <ion-item-divider>
        <ion-label>Academic Achivements/Skills</ion-label>
      </ion-item-divider>
    <ion-item *ngFor="let item of skillArray">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
      <ion-button (click)="openModalSkills(item)">See More</ion-button>
    </ion-item>

    <!-- Personal Experiences -->
    <ion-item-divider>
      <ion-label>Personal Experiences</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of PexArray" >
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
      <ion-button (click)="openModalPex(item)">See More</ion-button>
    </ion-item>
    <!-- Programming skills -->
    <ion-item-divider>
      <ion-label>Programming skills</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of PSArray">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
    <!-- Other skills -->
    <ion-item-divider>
      <ion-label>Other skills</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of OskillsArray">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
     <!-- Random achievements -->
     <ion-item-divider>
      <ion-label>Random achievements</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of RAArray">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-item-group>
  </ion-list>


                    <!-- Wanted -->

    <ion-list [inset]="true" *ngSwitchCase="'Wanted'">
      <ion-item-group>

        <!-- Academic Achivements/Skills -->
    <ion-item-divider>
      <ion-label>Academic Achivements/Skills</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of skillWantedArray" disabled="true">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  
    <!-- Personal Experiences -->
    <ion-item-divider>
      <ion-label>Personal Experiences</ion-label>
    </ion-item-divider>
    
    <ion-item *ngFor="let item of PexWantedArray" disabled="true">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>

  </ion-item-group>
  </ion-list>

            <!-- Work In progress -->

  <ion-list [inset]="true" *ngSwitchCase="'WIP'">
    <ion-item-group>

<!-- Ongoing Projects -->
    <ion-item-divider>
      <ion-label>Ongoing Projects</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of ProjectsArray">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
      <ion-button (click)="openModalProj(item)">See More</ion-button>
    </ion-item>
<!-- Future Projects -->
    <ion-item-divider>
      <ion-label>Future Projects</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of FutureProjectsArray" disabled="true">
      <ion-badge size="small" slot="start">Id:{{item.id}}</ion-badge>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button size="small">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button size="small" (click)="openModalCreate()">
        <ion-icon name="add-circle" ></ion-icon >
      </ion-fab-button>
      <ion-fab-button size="small" (click)="openModalDelete()">
        <ion-icon name="trash-bin"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="openModalUpdate()">
        <ion-icon name="swap-horizontal"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

