<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="type">
      <ion-segment-button value="Achived">
        <ion-label>{{ "sk1" | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Wanted">
        <ion-label>{{ "sk2" | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="WIP">
        <ion-label>{{ "sk3" | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)"></ion-toggle>
      <ion-button (click)="refreshPage()" (click)="changeLanguage('en')">
        {{'en' | translate }}
        </ion-button>
        <ion-button (click)="refreshPage()" (click)="changeLanguage('pt')">
        {{'pt' | translate }}
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [ngSwitch]="type">
  <ion-list [inset]="true" *ngSwitchCase="'Achived'">
    <ion-item-group>
      <!-- Academic Achivements/Skills -->
      <ion-item-divider>
        <ion-label>Academic Achivements/Skills</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-label>Certificate in English (C1 Advanced)</ion-label>
      <ion-button id="open-modal1" expand="block" >Saber Mais</ion-button>
    </ion-item>

    <ion-modal trigger="open-modal1">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Welcome111</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-item >
      <ion-label>Finished 12º Grade</ion-label>
      <ion-button id="open-modal2" expand="block">Saber Mais</ion-button>
    </ion-item>

    <ion-modal trigger="open-modal2">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Welcome222</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Personal Experiences -->
    <ion-item-divider>
      <ion-label>Personal Experiences</ion-label>
    </ion-item-divider>
    <ion-item >
      <ion-label>4+ Years in customer service at restaurant</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
    <!-- Programming skills -->
    <ion-item-divider>
      <ion-label>Programming skills</ion-label>
    </ion-item-divider>
    <ion-item >
      <ion-label>HTML</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>CSS</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>JavaScript</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>React</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Ionic</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>SQL</ion-label>
    </ion-item>
    <!-- Other skills -->
    <ion-item-divider>
      <ion-label>Other skills</ion-label>
    </ion-item-divider>
    <ion-item >
      <ion-label>Photo editing with Photoshop</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Creation of vector with Adobe Ilustrator</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Video editing with Adobe Premiere/After Efects</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>3D Model creation/animation with AutoDesk Maya</ion-label>
    </ion-item>
     <!-- Random achievements -->
     <ion-item-divider>
      <ion-label>Random achievements</ion-label>
    </ion-item-divider>
    <ion-item >
      <ion-label>I'm taking part at my local Scouts</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>I do 3d printing as a hobby</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>I do photography and video editing as a hobby</ion-label>
    </ion-item>
  </ion-item-group>
  </ion-list>

    <ion-list [inset]="true" *ngSwitchCase="'Wanted'">
      <ion-item-group>

        <!-- Academic Achivements/Skills -->
    <ion-item-divider>
      <ion-label>Academic Achivements/Skills</ion-label>
    </ion-item-divider>

    <ion-item disabled="true">
      <ion-label>Learn German </ion-label>
    </ion-item>
  
    <ion-item disabled="true">
      <ion-label>222</ion-label>
    </ion-item>
    
    <!-- Personal Experiences -->
    <ion-item-divider>
      <ion-label>Personal Experiences</ion-label>
    </ion-item-divider>
    
    <ion-item disabled="true">
      <ion-label>333</ion-label>
    </ion-item>

    <ion-item disabled="true">
      <ion-label>444</ion-label>
    </ion-item>

    <ion-item disabled="true">
      <ion-label>555</ion-label>
    </ion-item>

    <ion-item disabled="true">
      <ion-label>666</ion-label>
    </ion-item>

  </ion-item-group>
  </ion-list>

  <ion-list [inset]="true" *ngSwitchCase="'WIP'">
    <ion-item-group>

<!-- Ongoing Projects -->
    <ion-item-divider>
      <ion-label>Ongoing Projects</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>CarCTRL </ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-label>Purple Ticket</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>

<!-- Future Projects -->
    <ion-item-divider>
      <ion-label>Future Projects</ion-label>
    </ion-item-divider>

    <ion-item disabled="true">
      <ion-label>IDK SMTH</ion-label>
    </ion-item>

    </ion-item-group>
  </ion-list>
</ion-content>

