<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="Achived">
        <ion-label>Achived</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Wanted">
        <ion-label>Wanted</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
    <ion-item >
      <ion-label>Mega Man X</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
    <ion-item >
      <ion-label>The Legend of Zelda</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
    <ion-item >
      <ion-label>Pac-Man</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
    <ion-item >
      <ion-label>Super Mario World</ion-label>
      <ion-button>Saber Mais</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
