
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{ 't1' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)"></ion-toggle>
      <ion-button (click)="refreshPage()" (click)="changeLanguage('en')">
        {{'en' | translate }}
        </ion-button>
        <ion-button (click)="refreshPage()" (click)="changeLanguage('pt')">
        {{'pt' | translate }}
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" overflow-scroll="false">
<ion-card class="cardimg">
  <img alt="Me" src="../../assets/images/Me.jpeg"/>
  <ion-card-content>
    <ion-text>
      <p>{{ 'l1ph' | translate }}</p>
      <p><ion-text>{{ 'l2ph' | translate }}<ion-icon name="arrow-up-outline"></ion-icon></ion-text></p>
    </ion-text>
    
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{ 'q1' | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-text class="ion-text-center">
      <p>{{ 'l1home' | translate }}</p>
      <p>{{ 'l2home' | translate }}</p>
      <p>{{ 'l3home' | translate }}</p>
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card class="cardimg">
  <img alt="coffe" src="../../assets/images/paypal.jpeg"/>
  <ion-card-content>
    <ion-text>
      <h1><ion-icon name="arrow-up-outline"></ion-icon></h1>
      <p><ion-text>{{ 'l3ph' | translate }}</ion-text></p>
    </ion-text>
  </ion-card-content>
</ion-card>

</ion-content>

