
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img alt="Me" src="../..app/images/Me.jpeg" />
  <ion-card-content>
    Welcome
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Who am I?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione reprehenderit dolorem obcaecati deserunt nobis perspiciatis nostrum. Unde architecto inventore, dolore natus dolorum culpa modi perspiciatis expedita, sint sapiente veniam a.
    At porro voluptatum accusantium fuga vero odit laudantium eligendi quae est! Totam aliquid, quae fuga pariatur labore minus dicta molestiae alias natus tenetur architecto consequuntur laudantium dolore tempora dolor dolorum.
  </ion-card-content>
</ion-card>
