
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" overflow-scroll="false">
<ion-card class="cardimg">
  <img alt="Me" src="../../assets/images/Me.jpeg"/>
  <ion-card-content>
    <ion-text>
      <p>Welcome</p>
      <p><ion-text>Look Thats Me <ion-icon name="arrow-up-outline"></ion-icon></ion-text></p>
    </ion-text>
    
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Who am I?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-text>
      <p>Thats a good question!</p>
      <p>As you already might know my Gonçalo and I'm currunlty studying at IPVC-ESTG where I'm taking the DWM course.</p>
      <p>If you want to know a bit more about my peronal skills and achivements head on to the skills tab!</p>
    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>