<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <h1>My Social Medias</h1>
  <ion-button size="large">
    <ion-icon name="logo-github"></ion-icon>
  </ion-button>
  <ion-button size="large">
    <ion-icon name="logo-linkedin" (click)="OpenLI('https://www.linkedin.com/in/gonçalo-peixoto-8a0a03234/')"></ion-icon>Nao funciona
  </ion-button>
  <ion-button size="large">
    <ion-icon name="logo-discord"></ion-icon>
  </ion-button>
  <ion-button size="large">
    <ion-icon name="logo-instagram"></ion-icon>
  </ion-button>
  <h1>Send Me a Message</h1>

</ion-content>
